<div class="content-header">
  <h1>
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
    产品介绍 — 票夹/银包
  </h1>
</div>

<% @products.each do |product| %>
<% if
<%#= link_to 'New Product', new_product_path %>